
@model APP.MODELS.Supplier
@using Portal.Utils
<div id="frmUpdate" class="form-horizontal">
    <input hidden value="@Model.Id" type="text" id="txtId" />
    <div class="form-group">
        <div class="row">
            <label class="col-sm-3 col-md-3 col-6" required>Tên nhà cung cấp</label>
            <div class="col-sm-7 col-md-7 col-12">
                <input type="text" value="@Model.Name" required class="form-control" id="txtName" placeholder="Tên nhà cung cấp">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-sm-3 col-md-3 col-6" required>Địa chỉ</label>
            <div class="col-sm-7 col-md-7 col-12">
                <input type="text" value="@Model.Address" required class="form-control" id="txtAddress" placeholder="Địa chỉ">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-sm-3 col-md-3 col-6" required>Số điện thoại</label>
            <div class="col-sm-7 col-md-7 col-12">
                <input type="text" value="@Model.Phone" required class="form-control" id="txtPhone" placeholder="Số điện thoại">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-sm-3 col-md-3 col-6">Email</label>
            <div class="col-sm-7 col-md-7 col-12">
                <input type="text" value="@Model.Email" class="form-control" id="txtEmail" placeholder="Email">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-sm-3 col-md-3 col-6">Website</label>
            <div class="col-sm-7 col-md-7 col-12">
                <input type="text" value="@Model.Website" class="form-control" id="txtWebsite" placeholder="Website">
            </div>
        </div>
    </div>
</div>
<script src="~/js/Supplier/Update.js"></script>