
@model List<APP.MODELS.Customers>
@using Portal.Utils
<table style="width:100%;height:100%;" id="tblDisplay" class=" table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th style="text-align:center;width:10%;">STT</th>
            <th style="width:60%">Tên khách hàng</th>
            <th style="text-align:center;width:20%">Số điện thoại</th>
            <th style="text-align:center;width:10%">Thao tác</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        //@foreach (var item in Model)
        {
            var item = Model[i];
            <tr id="row_@item.Id">
                <td style="text-align:center;width:10%;">@(i+1)</td>
                <td style="width:60%;">@item.Name</td>
                <td style="text-align:center;width:20%">@item.Phone</td>
                <td style="text-align:center;width:10%">
                    <a class="btn-update" href="javascript:;" onclick="openUpdate(@item.Id)"><i class="fas fa-edit"></i></a>
                    <a href="javascript:;" class="btn-delete" onclick="openDelete(@item.Id)"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script src="~/js/Customer/List.js"></script>
