
@{
    ViewData["Title"] = "Phiếu nhập phụ tùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using APP.MODELS
@using Portal.Utils;
<link href="~/css/Billcss.css" rel="stylesheet"/>
@{ 
    if((int)ViewData[nameof(PermissionEnum.Create)] == 0)
    {
        Url.Action("Index", "Home");
    }
}
<div id="frmCreate" class="form-horizontal border">
    <div class="">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-6 col-md-6 col-12 pl-4 ">
                <div class="row align-items-center p-2">
                    <label required class="col-md-3">Nhà cung cấp:</label>
                    <select required id="drSuplier" class="form-control col-md-6">
                        @{
                            var listSuplier = ViewData["listSuplier"] as List<APP.MODELS.Supplier>;
                            if (listSuplier != null)
                            {
                                <option value="0">Chọn</option>
                                foreach (var i in listSuplier)
                                {
                                    <option value="@i.Id">
                                        @i.Name
                                    </option>
                                }
                            }
                        }
                    </select>
                    <a class="h-100 ml-2" onclick="openCreateSuplier()" href="javascript:;"><i class="fas fa-plus-circle"></i></a>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-12 pl-4">
                <div class="row align-items-center p-2">
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-12 pl-4">
                <div class="row align-items-center p-2">
                    <label class="col-md-3">Phụ tùng: </label>
                    <select id="drAccessories" class="form-control col-md-6">
                        @{
                            var listAccessories = ViewData["listAccessories"] as List<APP.MODELS.Accessories>;
                            if (listAccessories != null)
                            {
                                <option value="0">Chọn</option>
                                foreach (var i in listAccessories)
                                {
                                    <option value="@i.Id">
                                        @i.Name
                                    </option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div>
            <table id="listAccessories" class="table table-bordered table-hover mb-0">
                <thead>
                    <tr>
                        <th style="width:10%">#</th>
                        <th style="width:30%">Tên phụ tùng</th>
                        <th style="width:10%">Mã phụ tùng</th>
                        <th style="width:10%">Đơn giá nhập</th>
                        <th style="width:10%">Số lượng</th>
                        <th style="width:10%">ĐVT</th>
                        <th style="width:20%">Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-6 col-md-6 col-12 pl-4 ">
                <div class="row align-items-center p-2">
                    <label class="col-md-3">Nhân viên lập: </label>
                    @{
                        var account = ViewData["txtCreatedBy"] as APP.MODELS.Accounts;
                    }
                <label>@account.EmployeeName</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-12 pl-4">
                <div class="row align-items-center p-2">
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <div class="row d-flex justify-content-center">
            <div class="col-sm-6 col-md-6 col-12 pl-4 ">
                
                <div class="row align-items-center p-2">
                    <label class="col-md-3">Ngày lập phiếu: </label>
                    @{
                        string txtCreatedDate = ViewData["createdDate"] as string;
                    }
                    <input id="txtCreatedDate" class="form-control col-md-6" value="@txtCreatedDate" />
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-12 pl-4">
                @*<div class="row align-items-center p-2">
                    <label required class="mr-1">Kỹ thuật viên: </label>
                    <select required id="drKTV" class="form-control col-md-6">
                        @{
                            var listKTVien = ViewData["listKTVien"] as List<APP.MODELS.Accounts>;
                            if (listKTVien != null)
                            {
                                <option value="0">Chọn</option>
                                foreach (var i in listKTVien)
                                {
                                    <option value="@i.Id">
                                        @i.EmployeeName
                                    </option>
                                }
                            }
                        }
                    </select>
                </div>*@
                <div class="float-right">
                    <label>Tổng tiền: </label>
                    <label id="txtTongTien" class="mr-1" > 0 VNĐ </label>
                </div>
                 
            </div>
        </div>
    </div>
</div>
<div class="form-horizontal mt-2">
    <div class="d-flex justify-content-center">
        <button class="btn btn-danger mr-1" id="btnExist">Trở về</button> <button class="btn btn-success" id="btnCreate">Lưu</button>
    </div>
</div>
<script src="~/js/ImportReceipt/Create.js"></script>
